* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spotify-dark {
    background-color: #1d2d3c;
}

li {
    list-style-type:  none;
}

/* // SECTION HEADER // */

header {
    height: 75px;
    background-color: #06131F;
}

header .container {
    height: 100%;
}

header i {
    color: #1DB954;
    font-size: 40px;
}

/* // SECTION HEADER // */

.list-albums {
    width: 70%;
    margin: 0 auto;
}

.album {
    width: calc((100% - 20px) / 3);
}